@import './../../node_modules/bootstrap/scss/bootstrap.scss';

.input-group {
  margin: 10px 0px;
}

#requestStyle {
  color: red;
}

#roleStyle {
  color: orange,
}

#upStyle {
  color: green,
}

#singleQuoteStyle {
  color: blue;
}